.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 1000;
  backdrop-filter: blur(1.2px);
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.dialog {
    transition: all 1s ease;
    opacity: 0;
}
.dialog.visible {
    opacity: 1;
}